/********************/
/* Resets and Setup */
/********************/

:root {
  --separator-color: orangered;
  --hex-pattern-background-color: rgb(236, 235, 235);
  --hex-pattern-border-color: rgb(212, 212, 212);
}

/* partial css "reset" */
* {
  box-sizing: border-box;
  margin: 0;
}

/******************/
/* General styles */
/******************/

.hidden {
  display: none;
}

button {
  margin: 10px 0;
  padding: 10px;
  cursor: pointer;
  background-color: lightgray;
  border: 2px solid orangered;
  border-radius: 8px;
  font-size: 1.1em;
  font-weight: 300;
}

/***************************/
/* Element specific styles */
/***************************/

html, body {
  height: 100%;
}

html {
  /*
  The following two lines stop the contents of the page from moving horizontally when a scrollbar on <body> is toggled.
    - source: https://aykevl.nl/2014/09/fix-jumping-scrollbar
  */
  /* margin-left: calc(100vw - 100%); */
  /* margin-right: 0; */
}

body {
  background-color: whitesmoke;
}
hr.vertical {
  display: inline;
  margin: 0 8px;
  box-sizing: content-box;
  width: 1px;
  border: 0;
  border-left: 1px solid var(--separator-color);
}

p {
  margin: 10px 0;
}

main {
  padding: 20px;
}

fieldset {
  border-color: var(--separator-color);
  padding: 20px;
}
fieldset::before {
  /* todo(joch): This message should pop up when the wrong login information is entered. Unless the identity-provider/SSO used already provides similar. */
  content: "One does not simply walk into the restricted areas. Please enter correct login-data to proceed.";
  top: calc(1em + 15px);
  padding: 10px;
  background-color: pink;
  display: block;
}
legend {
  font-size: 1.5em;
}

#root-container {
  min-width: 320px;
  max-width: 100%;
  width: 1200px;
  /* height: 100%; */
  margin: 0 auto;
  background-color: white;
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* note(joch): for debugging *//* todo(joch): remove */
  /* border: 5px solid green;*/
}

/* todo(joch): temp? */
#list-of-project-ideas {
  display: list-item;
  list-style-type: disc;
  margin-left: 20px;
}


header {
  background-image: url("./resources/background-images/89baaec3227c63044d8d715b7388f8b7.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 10px;
  position: relative;
}
nav {
  
  position: relative;
}
nav:after {
  pointer-events: none;
  position: absolute;
  content: "";
  /* background: linear-gradient(rgba(0,0,0,0.25) 50%, rgba(0,0,0,0)); */
  background: rgba(0,0,0,0.25);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
/*** Main Menu ***/
#nav-main {
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  text-align: center;
  color: white;
}
#nav-main ol {
  padding-left: 0;
}
#nav-main li {
  display: inline-block;
  list-style: none;
  position: relative;
  z-index: 2;
}
#nav-main li > a {
  text-decoration: none;
  color: inherit;
  padding: 5px;
}
/* #nav-main li:not(:first-child) { */
  /* border-left: 1px solid var(--separator-color); */
/* } */
#nav-main:hover {
  cursor: pointer;
}
#nav-main li:hover {
  /* text-shadow: 0 0 20px var(--separator-color); */
  text-shadow: 0 0 5px white;
  transition: text-shadow 1s;
}

main {
  flex: 1;
}

footer {
  padding: 10px;
  /* margin-top: 10px; */
  border-top: 5px solid rgb(185, 185, 185);
}

/* Headers */
h1, h2, h3 {
  margin: 10px 0;
  font-family: 'Roboto', sans-serif;
}
h1 {
  text-align: center;
  font-weight: 100;
}

h2, h3 {
  font-weight: 300;
}
/* h1::first-letter { */
/* } */
/* h1 > span::first-letter { */
h1 > span {
  font-weight: 300;
  color: var(--separator-color);
}
h2::first-letter, h3::first-letter {
  font-weight: 400;
  color: var(--separator-color);
}
h4, h5 {
  margin-top: 10px;
}

#logo {
  padding: 10px;
  /* overflow: hidden; */
}

span {
  display: inline-block;
}

/********************/
/* Solar System API */
/********************/

#random-fox {
  /* float: right; */
  max-width: calc(100% + 40px);
  margin-left: -20px;
}
#get-random-fox:disabled {
  cursor: not-allowed;
  border-color: gray;
}

/********************/
/* Solar System API */
/********************/

#solar-system-container {
  overflow: hidden;
  position: relative;
  margin: 0 -20px;
}

.sol-system-body {
  border-radius: 50%;
}
.sol-system-body:hover {
  cursor: pointer;
  border: 2px solid black;
}

#the-sun-container {
  position: relative;
  height: 200px;
}
#the-sun {
  position: absolute;
  /* position: relative; */
  background-color: orange;
  background-image: radial-gradient(circle at center, orange 20%, orangered);
  background-image: radial-gradient(circle at center, orange 60%, orangered);
  box-shadow: 0 0 25px orange;
  /* box-shadow */
  -webkit-box-shadow: orange 0px 0 10px;
  -moz-box-shadow: orange 0 0 10px;
  box-shadow: orange 0 0 100px;
}
#the-sun:hover {
  background-color: orangered;
  border-color: orangered;
}
#the-sun-header {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 999;
  font-size: 2em;
  font-family: sans-serif;
  color: white;
  transition: font-size .5s ease-in-out;
}
#the-sun:hover + #the-sun-header {
  font-size: 3em;
}

.sol-system-planet {
  position: relative;
  margin: 50px auto 0;
  background-color: black;
}
.sol-system-planet::after {
  content: attr(data-planet-name);
  position: relative;
  left: calc(100% + 10px);
  font-size: 1em;
  /* Half the height of the parent '.sol-system-planet' minus half the font-size to position the right roughtly vertically aligned with the parent. */
  top: calc(50% - .5em);
  height: 100%;
  line-height: 50%;
  transition: font-size .2s ease-in-out;
}
.sol-system-planet:hover::after {
  left: calc(100% + 12px);
  font-size: 1.2em;
}
#planet-jupiter::after,
#planet-saturn:after,
#planet-uranus::after,
#planet-neptune::after {
  display: block;
  left: initial;
  font-size: 2em;
  line-height: 2em;
  top: calc(50% - 1em);
  width: 100%;
  height: 100%;
  text-align: center;
}

#planet-mercury {
  background-color: #b78668;
}
#planet-venus {
  background-color: #f3b3b3;
}
#planet-earth {
  background-color: #5dc0e3;
}
#planet-mars {
  background-color: #d83b2a;
}
#planet-jupiter {
  background-color: #cc8565;
}
#planet-saturn {
  background-color: #ffe577;
}
#planet-uranus {
  background-color: #57a0ff;
}
#planet-neptune {
  background-color: #2444ab;
  color: white;
}

#info-popup {
  position: fixed;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  z-index: 1000;
  max-height: 100%;
}
#info-popup-contents {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
#info-popup-content > * {
  flex: 1 1 auto;
}
#info-popup-moon-data {
  overflow-y: auto;
  flex: 1 1 auto;
}
#info-popup-close-button {
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
  float: right; /* horizontally align the button to the right */
  background-color: lightgray;
  border: 2px solid orangered;
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: bold;
}
#info-popup-close-button:hover {
  background-color: orange;
}

/***********************/
/* Okta sign-in widget */
/***********************/

/* Hide the header since I don't plan on using it. */
.okta-sign-in-header.auth-header {
  display: none;
}

#okta-sign-in {
  margin-top: 8px;
}

#logout {
  float: right;
}

/*****************/
/* Media Queries */
/*****************/

/*
When the screen-width <= Jupter's width center the planet with '(100% - 100vw) / -2'
which calculates how many pixels wider the planet is than the width of the viewport.
Divide this value by -2 because we're offsetting the planet from the left edge of the screen.
*/
@media only screen and (max-width: 699.117px) {
  #planet-jupiter {
    transform: translateX(calc((100% - 100vw) / -2));
  }
}
/*
When the screen-width <= Saturn's width center the planet with '(100% - 100vw) / -2'
which calculates how many pixels wider the planet is than the width of the viewport.
Divide this value by -2 because we're offsetting the planet from the left edge of the screen.
*/
@media only screen and (max-width: 582.317px) {
  #planet-saturn {
    transform: translateX(calc((100% - 100vw) / -2));
  }
}

@media only screen and (max-width: 1000px) {
  #info-popup {
    left: 10%;
    transform: translateY(-50%);
    width: 80%;
  }
}

@media only screen and (max-width: 400px) {
  #nav-main li {
    display: block;
  }

  #info-popup {
    left: 10px;
    top: 10px;
    bottom: 10px;
    transform: none;
    width: calc(100% - 20px);
  }
}
